<div class="container mt-4">

  <h2>Clasificaciones</h2>

  <div *ngFor="let comp of Object.keys(clasificacionesPorCompeticion)" class="mb-5">

    <h4 class="mt-4">{{ comp }}</h4>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>Puntos</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of clasificacionesPorCompeticion[comp]">
          <td>{{ c.equipo }}</td>
          <td>{{ c.pj }}</td>
          <td>{{ c.pg }}</td>
          <td>{{ c.pe }}</td>
          <td>{{ c.pp }}</td>
          <td>{{ c.gf }}</td>
          <td>{{ c.gc }}</td>
          <td><strong>{{ c.puntos }}</strong></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>